<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
  <test name="sweeja" >
    <classes>
       <class name="TestNG.TC002" />
       <class name="TestNG.Exp_Wd_TestNg" />
     
       
        
       
       
    </classes>
  </test>
 
  
</suite>

